body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
a {
  margin: 0;
}

a {
  text-decoration: underline;
}

.container {
  margin: 0 auto;
  max-width: $container-max-width;
  padding-left: 0;
  padding-right: 0;
}

@include tablet {
  .container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@include desktop {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@mixin font-style($font-size, $letter-spacing, $color) {
  color: $color;
  font-size: $font-size;
  letter-spacing: $letter-spacing;
}

@mixin object-fit-cover {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
