$text-color: #d8b9c3;
$text-color-light: #5e5894;

$background: #201c3a;
$border: #2b264e;
$border-2: #121022;
$table-background: #1b1831;
$header-shadow: #110f1f;

$transparent: transparent;

$white: #fff;
$black: #fff;

$light-grey:  #efefef;
$light-grey-2: #e2e2e2;
$light-grey-3: #dedede;

$red-color: #ff073a;
$green-color: #28a745;
$blue-color: #007bff;
$voilet-color: #827397;
