$text-color: #d8b9c3;
$text-color-light: #5e5894;

$background: #201c3a;
$border: #2b264e;
$border-2: #121022;
$table-background: #1b1831;

$transparent: transparent;

$white: #fff;
$black: #fff;

$light-grey: #dfdfdf;
$light-grey-2: #c5c5c5;

$red-color: #ff073a;
$green-color: #28a745;
$blue-color: #007bff;
$voilet-color: #827397;
