@import '../../styles/index.scss';

.header {
  @include heading($text-color);

  background-color: $background;
  border-bottom: 1px solid $header-shadow;
  box-shadow: 0 2px 10px $header-shadow;

  @include mobile {
    @include heading-mobile($text-color);
  }

  &.light-mode {
    @include heading($text-color-light);

    background-color: $white;
    border-bottom: 1px solid $light-grey;
    box-shadow: 0 2px 10px $light-grey;

    @include mobile {
      @include heading-mobile($text-color-light);
    }
  }
}

.toggle-button {
  right: 16px;
  top: 44px;

  @include mobile {
    top: 28px;
  }

  @include x-small {
    top: 20px;
  }
}
