@import '../../styles/index.scss';

th,
td {
  border-radius: 0.5rem;
  color: $text-color;
  margin: 0 0.25rem;
  padding: 0.5rem;
  text-align: center;
}

th {
  @include table-heading($text-color);
  text-transform: uppercase;

  @include mobile {
    @include table-heading-mobile($text-color);

    letter-spacing: 0.2px;
    max-width: 50px;
  }
}

th:first-child {
  text-align: left;
}

td {
  @include table-row($text-color);

  @include mobile {
    @include table-row-mobile($text-color);

    max-width: 50px;
  }
}

td:first-child {
  @include bold();

  border-radius: 0.5rem;
  text-align: left;
  width: 200px;

  @include mobile {
    max-width: 120px;
    width: 120px;
  }
}

tr {
  background: $table-background;
}

tr:hover {
  background: $border;
}

.district-row {
  background: $border;
}

.tag {
  @include table-heading($red-color);

  @include mobile {
    @include table-row-mobile($red-color);
  }
}

.tag-green {
  @include table-heading($green-color);

  @include mobile {
    @include table-row-mobile($green-color);
  }
}

.up-arrow-icon {
  fill: $red-color;
  height: 12px;
  stroke: $red-color;
  width: 12px;
}

.green-icon {
  fill: $green-color;
  stroke: $green-color;
}
