@import '../../styles/index.scss';

th,
td {
  border-radius: 0.5rem;
  margin: 0 0.25rem;
  padding: 0.5rem;

  @include mobile {
    max-width: 50px;
  }
}

th {
  text-transform: uppercase;

  @include mobile {
    letter-spacing: 0.2px;
  }
}

td {
  &:first-child {
    @include bold();

    @include mobile {
      max-width: 120px;
    }
  }
}

.dark-mode {
  th {
    @include table-heading($text-color);

    @include mobile {
      @include table-heading-mobile($text-color);
    }
  }

  tr {
    @include table-row($text-color);
    background-color: $table-background;

    @include mobile {
      @include table-row-mobile($text-color);
    }

    &.district-row,
    &.state-row {
      background-color: $border-2;
    }

    &:hover {
      background-color: $border;
    }
  }
}

.light-mode {
  th {
    @include table-heading($border-2);

    @include mobile {
      @include table-heading-mobile($border-2);
    }
  }

  tr {
    @include table-row($border-2);
    background-color: $light-grey;

    @include mobile {
      @include table-row-mobile($border-2);
    }

    &.district-row,
    &.state-row {
      background-color: $light-grey-2;
    }

    &:hover {
      background-color: $text-color;
    }
  }
}

.tag {
  @include table-heading($red-color);

  @include mobile {
    @include table-row-mobile($red-color);
  }
}

.tag-green {
  @include table-heading($green-color);

  @include mobile {
    @include table-row-mobile($green-color);
  }
}

.up-arrow-icon {
  fill: $red-color;
  height: 12px;
  stroke: $red-color;
  width: 12px;
}

.green-icon {
  fill: $green-color;
  stroke: $green-color;
}
