@import '../../styles/index.scss';

.graph-title {
  left: 54px;
  top: 16px;

  @include mobile {
    left: 20%;
  }
}

canvas {
  max-width: 500px;

  @include mobile {
    height: 250px;
    width: 90% !important;
  }
}
